<div class="service">
  <div class="fix">
    <aside class="slidebar">
      <div>
        <img src="/assets/Home logo.jpg" alt="person"></div>
        <div>
          <a routerLink="electronics">Electronics</a>
          <a routerLink="kitchen">Kitchen</a>
          <a routerLink="furniture">Furnitures</a>
          <a routerLink="freecheckup">Grid</a>
          <a routerLink="medicine">Medicines</a>
        </div>
      </aside>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

























<!-- <h1><i class="fa fa-hand-o-left"></i>
  Click To View Products</h1>

<div id="sidebar">
  <div class="toggleMenu" onclick="showNavbar()">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <ul>
      <a routerlink="HA.html">
      <li><span class="icon">
      </span>Home</a>
     <li><a routerlink="Television.html">Television</a></li>
      <li><a routerlink="Fridge.html">Fridge</a></li> -->


      <!-- <li><a routerlink="Television.html">WashingMachine</a></li> -->


      <!-- <li><a routerlink="Electronics.html">Other Products</a></li>
      <li><a routerlink="Kitchen.html">Kitchen</a></li>
      <li><a routerlink="Plastic.html">Furnitures</a></li>
      <li><a routerlink="grid.html">Grid</a></li>

  </ul>
</div> -->

<!-- <div class="up">
  <div class="slider">
     <div class="slides">
         <input type="radio" name="radio-btn" id="radio1">
         <input type="radio" name="radio-btn" id="radio2">
         <input type="radio" name="radio-btn" id="radio3">

         <div class="slide first">
             <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/TVs/yashash/ART/Jupiter/TCL/Phase4/LATV_CLP_banner_1500x500_2.jpg" >
         </div>
         <div class="slide">
             <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/Dishwasher_Amazon_Banner_Desktop_V4_ORD_9917-01.jpg" >
         </div>
         <div class="slide">
             <img src="https://www.sathya.store/img/offer/FvCZOW4ZDFoDDbUC.jpg" >
         </div>

         <div class="navigation-auto">
             <div class="auto-btn1"></div>
             <div class="auto-btn2"></div>
             <div class="auto-btn3"></div>
         </div>
     </div>
     <div class="navigation-manual">
         <label for="radio1" class="manual-btn"></label>
         <label for="radio2" class="manual-btn"></label>
         <label for="radio3" class="manual-btn"></label>
     </div>
 </div>
</div> -->
<!-- <br><br><br><br> -->

<!-- <div class="box">
<img src="https://vasanthandco.in/image/cache/catalog/Banners/sony/22aug2022/X90K-Desktop-700-855-700x855.jpg" style="position:relative;left:10px">
</div>

<div class="b1">
<img src="https://vasanthandco.in/image/catalog/custom/banner%20tophome1/best-deals.jpg" style="position:relative;left:780px;position:absolute;bottom:-250px">
</div>

<div class="b2">
<img src="https://vasanthandco.in/image/catalog/custom/banner/Deal-of-the-Day-Banner.png" style="position: absolute;left:740px;bottom:-530px;">
</div> -->


<!--
<div class="grid">
<div class="b-1"><img src="https://vasanthandco.in/image/cache/catalog/custom/product/Televisions/lg-43up7550ptz-43-inch-109-22cm-4k-smart-uhd-tv-1-228x228.png" style="border-radius:50px">
<h3>LG 43LM5600PTC LED TV</h3>
<h5>MRP:₹ 33,890<br><s>₹ 40,990</s></h5>
<div class="adjust"><div class="color"> <ul>
<li><i class="fa fa-star"></i></li>
<li> <i class="fa fa-star"></i></li>
<li><i class="fa fa-star"></i></li>
<li><i class="fa fa-star"></i></li>
<li><i class="fa fa-star-half-o"></i></li>
</ul></div></div>
<div class="cart"><i class="fa fa-shopping-cart fa-2x" style="font-size: 2.5em; position:relative;left: 100px;" title="Add to Cart"></i></div></div>

<div class="b-1"><img src="https://vasanthandco.in/image/cache/catalog/custom/product/Air%20Conditioner/new/3%20Blue%20Star%201.5%20Ton%203%20Star%20IA318DNU%20Inverter%20Split%20AC-268x268.png" style="border-radius:50px;width: 200px;height: 200px;">
  <h3>Blue Star 1.5 Ton 3 Star IA318DNU Inverter Split AC</h3>
  <h5>MRP:₹ 41,790<br><s>₹ 61,750</s></h5>
  <div class="adjust"><div class="color"> <ul>
      <li><i class="fa fa-star"></i></li>
      <li> <i class="fa fa-star"></i></li>
       <li><i class="fa fa-star"></i></li>
       <li><i class="fa fa-star"></i></li>
       <li><i class="fa fa-star-half-o"></i></li>
   </ul></div></div>
   <div class="cart"><i class="fa fa-shopping-cart fa-2x" style="font-size: 2.5em; position:relative;left: 100px;" title="Add to Cart"></i></div></div>

<div class="b-1"><img src="https://vasanthandco.in/image/cache/catalog/custom/product/Home%20Theater/lg-lk72be-xboom-40-w-bluetooth-home-theatre-1-228x228.png" style="border-radius:50px;width: 200px;height: 200px;">
  <h3>LG LK72BE XBOOM 40 W Bluetooth Speake</h3>
  <h5>MRP:₹ 4,590<br><s>₹ 4,990</s></h5>
  <div class="adjust"><div class="color"> <ul>
      <li><i class="fa fa-star"></i></li>
      <li> <i class="fa fa-star"></i></li>
       <li><i class="fa fa-star"></i></li>
       <li><i class="fa fa-star"></i></li>
       <li><i class="fa fa-star-half-o"></i></li>
   </ul></div></div>
   <div class="cart"><i class="fa fa-shopping-cart fa-2x" style="font-size: 2.5em; position:relative;left: 100px;" title="Add to Cart"></i></div></div>


<div class="b-1"><img src="https://vasanthandco.in/image/cache/catalog/custom/product/Dishwasher/siemens-iq300-sn236i01ki-13-places-free-standing-dishwasher-1-228x228.png" style="border-radius:50px;width: 200px;height: 200px">
<h3>LG DFB424FP 14 Place Settings Dishwasher</h3>
<h5>MRP:₹ 53,890<br><s>₹ 74,999</s></h5>
<div class="adjust"><div class="color"> <ul>
<li><i class="fa fa-star"></i></li>
<li> <i class="fa fa-star"></i></li>
<li><i class="fa fa-star"></i></li>
<li><i class="fa fa-star"></i></li>
<li><i class="fa fa-star-half-o"></i></li>
</ul></div></div>
<div class="cart"><i class="fa fa-shopping-cart fa-2x" style="font-size: 2.5em; position:relative;left: 100px;" title="Add to Cart"></i></div></div>





</div>

<div class="grid-2">
<div class="b-3"><img src="https://vasanthandco.in/image/cache/catalog/Banners/Samsung%20Banner/03275_13035_TV_Banner_700x855px_Desktop-700x855.jpg" style="width: 580px;height:310px;position: relative;right:15px;border-radius: 20px;"></div>
<div class="b-3"><img src="https://vasanthandco.in/image/cache/catalog/Banners/LG%20Diwali%20Web%20Banner%20700%20w%20x%20855%20h%20pixels%20desktop-01-700x855.png" style="width: 580px;height:310px;position: relative;right:15px;border-radius: 20px;" ></div>
<div class="b-3"><img src="https://vasanthandco.in/image/cache/catalog/Banners/sony/22aug2022/Desktop%20-%20700%20%C3%97%20855-700x855.jpg" style="width: 580px;height:310px;position: relative;right:15px;border-radius: 20px;"></div>
<div class="b-3"><img src="https://vasanthandco.in/image/cache/catalog/Banners/Libheerr%20Desktop-700x855.png" style="width: 580px;height:310px;position: relative;right:15px;border-radius: 20px;"></div>
</div>

<div class="grid-1">
<div class="b-2"><img src="https://vasanthandco.in/image/catalog/Intermediate-banner/website/1-indias-no-1-desktop.png" style="width:1300px;height:250px;border-radius:20px;"></div>
</div> -->






















<!-- <p>
  product1 works!
</p>
<h2><div class="title">Shopping Zone</div></h2> -->


<!-- <div class="container">
  <div class="row"></div>
    <div *ngFor="let item of productsList">
      <div class="card col-md-4">
        <img src="{{item.image}}">
        <h3><a routerLink="/Product1/{{item.model}}">{{item.model}}</a></h3> -->




        <!-- <div><a routerLink="/product/:model/edit">edit</a></div> -->




        <!-- <button>Add to Cart</button>
      </div>
    </div>
  </div>

<div>
  <router-outlet></router-outlet>
</div> -->
