<!-- <div class="menu-bar-6">
  <ul class="menu-6">
  <li><a routerlink="/Home"><i class="fa fa-home"></i>Home</a></li></ul>
  </div> -->



<div class="bg">
  <div class="grid">
      <div class="box">
          <h1 style="color:rgb(19, 19, 100, 0.5);font-size: 50px;"> House of Consumer Electronics & Home Appliances</h1>
  <h3>HA.com is a World Class Chain of Consumer Electronics & Home Appliances in the Retail Business with more than 50 Lakh Happy Customers in TamilNadu!</h3>
      </div>
  </div>


  <h2>
  <p>
  Festival of Dreams brings golden deals for you
  Diwali is just around the corner and we are celebrating it with some amazing festive deals. Dont miss out on relishing this golden opportunity of getting your favourite appliances and gadgets home at great deals and discounts.
  <p>
  Prep up for festivities with delightful Festive Sale
  This Diwali, get ready to host the best Diwali parties ever when you shop from our range of Party Speakers and Home Theatre systems. Add to the sparkle to the smile of your loved ones with a gift they’ll love. Smart Watches for those always on the move, Grooming Products for fashionistas, Headphones and Earphones for audiophiles – the choices are endless. And if you’ve been considering upgrading your home with a new Air Conditioner or OLED TV, there’s no time as auspicious as Diwali.
  </p>
  <p>Relish in mouth-watering yet healthy dishes cooked in our range of Air Fryers , Microwave Ovens , and other Food Preparation Appliances. Add more convenience to your festive preparations by exploring our Water Purifiers , Electric Chimneys, Mixer Grinders , and other Kitchen Appliances.

  Get great deals at Croma's Festival of Dreams
  This festive season, bring your favourite appliances and gadgets home at a price like never before from Croma. Avail exciting offers during our festive sale at Croma stores or online at Croma.com. Don’t forget to extend the service life of your product with our ZipCare extended warranty plans.</p>

  </h2>


  <div class="grid-2">
      <div class="box-2">
          <img src="https://static.thenounproject.com/png/1000131-200.png" style="width: 100px;height:100px;background: rgb(4, 201, 4);">
          <h2>Our Key to Success.</h2>
          The Key to Success as per HA.com is Best Showrooms, Best Service, Best Price, Best Products, Best Brands, Best Hospitality is our motto. Attractive finance schemes with EMI options available for the convenience of customers. After sales service is taken care by well-experienced service team.     </div>
      <div class="box-2">
          <img src="https://media.istockphoto.com/photos/futuristic-digital-technology-screen-on-the-eye-picture-id1166272744?k=20&m=1166272744&s=612x612&w=0&h=vd8qS-KnytVy8mY2UeegdBsIW01-_7qyHXBZA9rU750=" style="width: 150px;height:100px;">
          <h1>Our Mission</h1>
          Our mission is to expand our branches all over Tamilnadu & provide our customers with the best shopping experience.
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="grid-3">
      <div class="box-3">
          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.marketing91.com%2Fwp-content%2Fuploads%2F2018%2F09%2FTop-Appliance-brands-in-the-world.jpg&tbnid=wiSpqRPp8r6L2M&vet=12ahUKEwif86HGjZL-AhVyg-YKHU7CAZkQMygCegUIARDDAQ..i&imgrefurl=https%3A%2F%2Fwww.marketing91.com%2Ftop-10-appliance-brands%2F&docid=gVPnFv-gRnXekM&w=1200&h=449&q=brands%20photo%20for%20appliances&ved=2ahUKEwif86HGjZL-AhVyg-YKHU7CAZkQMygCegUIARDDAQ" style="width: 400px;height:150px;">
         <h2>Brands we provide</h2>
              HA.com has leading Brands in Consumer Electronics and Home Appliances like Sony, LG, Samsung, Philips, Bosch, Videocon, Godrej, Bajaj, Onida, Whirlpool, Panasonic, Haier, Siemens, Crompton, V Guard, Ultra, Eureka, AO-Smith, Preethi, Butterfly, O-general, Daikin, Voltas and Carrier, Hitachi, Faber, Kent are available in normal price.
              Moreover, latest technology oriented OLED TV, curved TV, 3D LED, UHD TV, Side by Side Refrigerator, Dishwasher are displayed in the wide range.
      </div>
  </div>
</div>

  <footer class="footer">
      <div class="container-1">
          <div class="row-1">
              <div class="footer-col">
                  <h4>COMPANY</h4>
                  <ol>
                      <li><a routerlink="#">About Us</a></li>

                      <li><a routerlink="#">Services</a></li>
                      <li><a routerlink="#">Privacy Policy</a></li>
                  </ol>
              </div>

              <div class="footer-col">
                  <h4>GET HELP</h4>
                  <ol>
                      <li><a routerlink="#">FAQ</a></li>
                      <li><a routerlink="#">Shipping</a></li>
                      <li><a routerlink="#">Returns</a></li>
                      <li><a routerlink="#">Order & Payment Status</a></li>
                  </ol>
              </div>

              <div class="footer-col">
                  <h4>ONLINE-SHOP</h4>
                  <ol>
                      <li><a routerlink="#">Appliances</a></li>
                      <li><a routerlink="#">Electronics</a></li>
                      <li><a routerlink="#">Furnitures</a></li>
                      <li><a routerlink="#">Other Accessories</a></li>
                  </ol>
              </div>

              <div class="footer-col">
                  <h4>FOLLOW</h4>
                  <div class="social-links">
                      <a routerlink="#"><i class="fa fa-facebook-square"></i></a>
                      <a routerlink="#"><i class="fa fa-instagram"></i></a>
                      <a routerlink="#"><i class="fa fa-twitter-square"></i></a>
                      <a routerlink="#"><i class="fa fa-linkedin-square"></i></a>
                  </div>
              </div>
<!--
              <div class="mail">
                  <label style="font-size:25px; color: #fff; position: relative; left: 620px; bottom:185px">Email</label>
                  <input type="text" name="mail" class="mail" style="width: 250px;height:20px; position: relative; left: 550px; bottom: 150px;">
              </div>

              <div class="butt">
                  <a routerlink="#"><button type="submit" style=" background:#e91e63;width: 50px; height:29px; position:relative;left:550px; bottom:148px">Mail</button></a>
              </div> -->

          </div>
      </div>
  </footer>
