<div class="box">
  <ul class="box-3">
      <li><label><h2><b>Phone: 90879-45238</b></h2></label></li>
      <li><label><h2><b>E-mail:2k19eee036@kiot.ac.in</b></h2></label></li>
      <li><label><h2><b><i>Queries:</i></b></h2></label></li>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="queries"></textarea>
      <button type="submit" class="btn" onclick="validate()"><b>Share Me</b></button>
      <div class="popup" id="popup">
          <img src="./Tick.jpg" width="100px" height="100px">
          <h2>Thank You!</h2>
          <p>Your Queries has been successfully Recevied.</p>
          <a href="Service.html">
          <button type="button" onclick="validate()" id="ok">OK</button></a>
      </div>
  </ul>
</div>

<div class="jump">
  <span>F</span>
  <span>O</span>
  <span>R</span>
  <span> </span>
  <span>A</span>
  <span>N</span>
  <span>Y</span>
  <span> </span>
  <span>S</span>
  <span>E</span>
  <span>R</span>
  <span>V</span>
  <span>I</span>
  <span>C</span>
  <span>E</span>
  <span> </span>
  <span>C</span>
  <span>O</span>
  <span>N</span>
  <span>T</span>
  <span>A</span>
  <span>C</span>
  <span>T</span>
  <span> </span>
  <span>U</span>
  <span>S</span>
  <span> </span>
</div>
