<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>

  <!-- <div class="container">
    <input type="text" placeholder="Search Products">
    <a href="">
        <li class="fa fa-search fa-2x"></li>
    </a>
  </div> -->

<div class="header">
  <div >
    <img src="/assets/nav log.jpg" >
  </div>

<div class="nav">
  <a routerLink="home">Home</a>
  <a routerLink="Product1">Store</a>
  <a routerLink="about">About</a>
  <a routerLink="service">Service</a>
  <a routerLink="login">Login</a></div>
</div>
</nav>



<router-outlet></router-outlet>
