<div class="container">
  <form [formGroup]="reactiveloginForm1" (ngSubmit)="register()">
  <div class="form-group">
    <div class="moveup"><h1>Register Page</h1></div>
    <br>
  <label for="">Username:</label>
  <div class="move"><input type="text" name="username" formControlName="username" placeholder="Enter username"></div>
  </div>
  <div *ngIf="reactiveloginForm1.controls['username'].invalid&&reactiveloginForm1.controls['username'].dirty">
    <small *ngIf="reactiveloginForm1.controls['username'].errors?.['required']">
      Please enter username
    </small>
    <small *ngIf="reactiveloginForm1.controls['username'].errors?.['minlength']">
      Please enter username atleast 8 characters
    </small>
  </div>
  <br>
  <div class="form-group">
    <label for="">Email id:</label>
    <div class="move">  <input type="email" name="email" formControlName="email" placeholder="Enter Email id"></div>
  </div>
  <div *ngIf="reactiveloginForm1.controls['email'].invalid&&reactiveloginForm1.controls['email'].dirty">
    <small *ngIf="reactiveloginForm1.controls['email'].errors?.['required']">
      Please enter email
    </small>
    <small *ngIf="reactiveloginForm1.controls['email'].errors?.['minlength']">
      Password  enter valid email
    </small>
  </div>
  <br>

  <div class="form-group">
     <label for="">Password:</label>
     <div class="move"> <input type="password" name="password" formControlName="password" placeholder="Enter Password"></div>
  </div>
  <div *ngIf="reactiveloginForm1.controls['password'].invalid&&reactiveloginForm1.controls['password'].dirty">
    <small *ngIf="reactiveloginForm1.controls['password'].errors?.['required']">
      Please enter password
    </small>
    <small *ngIf="reactiveloginForm1.controls['password'].errors?.['minlength']">
      Password  atleast 8 characters
    </small>
  </div>
  <br>
  <div class="form-group">
    <label for="">Confirm Password:</label>
    <div class="move"><input type="password" name="cpassword" formControlName="cpassword" placeholder="Enter Confirm Password"></div>
  </div>
  <div *ngIf="reactiveloginForm1.controls['cpassword'].invalid&&reactiveloginForm1.controls['cpassword'].dirty">
    <small *ngIf="reactiveloginForm1.controls['cpassword'].errors?.['required']">
      Please enter  confirm password
    </small>
    <small *ngIf="reactiveloginForm1.controls['cpassword'].errors?.['minlength']">
      Password  atleast 8 characters
    </small>
  </div>

  <small *ngIf="reactiveloginForm1.controls['cpassword'].errors?.['ConfirmedValidator']">
    Password does not match </small>

  <br>

  <button [disabled]="!reactiveloginForm1.valid">Register</button>
  <br>
  <br>


 <div class="login">Already Have an Account!! Just  <a routerLink="/login">Login</a></div>


</form>
</div>

